<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=16.0.22.119, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>
  </configSections>
  <Telerik.Reporting>
    <Cache provider=""/>
    <cache provider=""/>
    <assemblyReferences>
      <add name="AccessLayer" version="1.0.0.0"/>
    </assemblyReferences>
    <SessionState provider=""/>
    <restReportService>
      <storage provider=""/>
      <reportResolver provider=""/>
    </restReportService>
  </Telerik.Reporting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
